#container{
    display: flex;
    /* margin: 10px; */
    width: 450px;
    height: 450px;
    background-color: blue;
}

.inner{
    font-size: larger;
    background-color: gray;
    /* height: 100%;
    width: 100%; */
}

.inner:hover{
    /* background-color: red; */

}

.outer{
    background-color: aqua;
    /* display: flex; */
    height: 100%;
    width: 100%;
}
